/* .nav-link {
    text-transform: uppercase;
    font-family: "futura-pt";
    letter-spacing: "1px";
    font-style: "normal";
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
} */

/* body {
    font-family: "proxima-nova";
} */

